.wrapper h1{
    margin-bottom: 2rem;
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
 gap: 1rem;
}
@media screen and (max-width:480px) {
    .wrapper{
        display: flex;
        flex-direction: column;
       min-width: 0;
     align-items: flex-start;
      overflow: hidden;
    }
    .wrapper h1{
       margin-bottom: 0.2rem;
       font-size: 1.2em;
    }
    .menu span{
        overflow-x:scroll;
    }
    .menu div{
        min-width: 0;
        width: 100%;
      
    }
    .menu{
    
        min-width: 0;
        width: 100%;
     
    }

    
}

