.order{
    width: 100%;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    cursor: pointer;
}
.detail{
    grid-column: 1/2;
   
}
.detail span{
    text-align: start;
}
.price{
    display: grid;
    place-items: center;
}
.order:first{
    background: greenyellow;
}